{% extends "components/base.html" %}
{% load static %}
{% block main %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3 p-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">Products</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static product.image.url %}" class="d-block mx-lg-auto img-fluid border" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ product.name }}</h1>
          <p class="lead">{{ product.description }}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-dark btn-lg px-4">$ {{ product.price }}</button>
            <a href="{% url 'qr-code' product.id %}">
              <button type="button" class="btn btn-dark btn-lg px-4">Get QR-code</button>
            </a>
          </div>
          {% if request.user.is_authenticated %}
          <div class="accordion mt-3 w-100" id="accordion">
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Edit Product
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label">Description</label>
                          <textarea class="form-control" id="description" name="description" rows="3">{{ product.description }}</textarea>
                        </div>
                        <div class="mb-3">
                          <label for="price" class="form-label">Price</label>
                          <input type="text" class="form-control" id="price" name="price" value="{{ product.price }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            <input class="form-control" type="file" id="image" name="image" accept=".jpg, .jpeg, .png" required>
                        </div>
                        <div class="mb-3 py-3 border-top">
                            <button type="submit" class="w-100 btn btn-outline-dark">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock main %}