{% extends "components/base.html" %}
{% load static %}
{% block main %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3 p-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">Products</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static product.image.url %}" class="d-block mx-lg-auto img-fluid border" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ product.name }}</h1>
          <p class="lead">{{ product.description }}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-dark btn-lg px-4">$ {{ product.price }}</button>
            <a href="{% url 'qr-code' product.id %}">
              <button type="button" class="btn btn-dark btn-lg px-4">Get QR-code</button>
            </a>
          </div>
        </div>
    </div>
</div>
{% endblock main %}