{% extends "components/base.html" %}
{% load static %}
{% block main %}
<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3 p-3">
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'home' %}">Products</a>
          </li>
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="{% url 'product' product.id %}">{{ product.name }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">QR-code</li>
        </ol>
    </nav>
    <h2 class="pt-3 pb-1 border-bottom">QR-code</h2>
    <img src="{% static product.qr_code.url %}" class="d-block img-fluid border mt-3" width="400" height="400" loading="lazy">
</div>
{% endblock main %}