{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="shortcut icon" type="image/svg" href="https://flowbite.com/docs/images/logo.svg" >
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style/style1.css' %}">
</head>
<body class="flex flex-col min-h-screen">
    {% include "components/header.html" %}
    <main class="flex-1 p-4">
        {% block main %}{% endblock main %}
    </main>
    {% include "components/footer.html" %}
    <script src="{% static 'script.js' %}"></script>
</body>
</html>